/* div {
  text-align: center;
  background: gray;
  padding: 2rem;
  font-size: 28px;
  color: white;


}

button {
  margin: 1rem 3rem;
  padding: 1.5rem 2rem;
  border-radius: 0.5rem;
  font-size: 21px;
} */